body{
    background-color: #000000;
}
h1{
    color: #0094ff;
    text-shadow: 0 0 25px #b200ff, 0 0 25px #b200ff;
}
p{
    color: #0094ff;
    font-size: 20px;
}
li{
    color: #0094ff;
    font-size: 20px;
}